/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --main-bg: #262626;
  --secondary-bg: #f8f4f1;
  --accent-bg: #f7c117;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--secondary-bg);
}

/* Disable Scrolling */
.scrolling-disabled {
  overflow-y: hidden;
}

/* Page titles */
h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  color: #262626;
  padding: 0.5rem 1.313rem;
  border-radius: 3.75rem;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Project Information Wrapper
--------------------------------------------------------------*/

.project-info-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
  padding: 1rem 1rem;
}

/* Project Images */
.project-info-images img {
  max-width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

/* Project Text Sticky Wrapper */
.project-text-sticky-wrapper {
  position: sticky;
  top: 7rem;
}

.project-text span {
  color: #a5a5a5;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.95rem;
}

/* Project Title */
.project-text h1 {
  font-size: 2.875rem;
  font-weight: 400;
  margin-bottom: 0.625rem;
}

.project-text h1::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 30px;
  background-color: var(--accent-bg);
  margin-right: 0.5rem;
  position: relative;
}

/* Project Subtitle */
.project-text h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

/* Project Description */
.project-text article p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

/* Project Website Button */
.project-text a {
  background-color: var(--main-bg);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  margin-top: 1rem;
  display: inline-block;
  transition: all 200ms;
}

.project-text a:hover {
  transform: translateY(-3px);
  background-color: #3d3d3d;
}

.project-text a:focus {
  transform: translateY(-1px) scale(0.95);
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 40rem) {
  .proejct-text article {
    width: 80%;
  }
}

@media (min-width: 60.5rem) {
  .project-info-wrapper {
    grid-template-columns: 2fr 1fr;
    padding: 2rem 3rem;
  }

  .project-text {
    margin-left: 2.5rem;
  }

  .projext-text article {
    width: auto;
  }
}