/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Variables */
:root {
  --main-bg: #262626;
  --secondary-bg: #f8f4f1;
  --accent-bg: #f7c117;
}

body {
  font-family: "Inter", sans-serif;
}

/* Disable Scrolling */
.scrolling-disabled {
  overflow-y: hidden;
}

/* Page titles */
h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 4rem 1.5rem;
  scroll-snap-align: center;
}

.btn-secondary {
  background-color: #fff;
  color: #262626;
  padding: 0.5rem 1.313rem;
  border-radius: 60px;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/

.banner {
  position: relative;
  z-index: 50;
  background-color: var(--main-bg);
  height: 100vh;
}

/* Banner content */
.banner-content {
  margin: 4rem 0 0 0;
  position: relative;
  display: flex;
  max-width: 21rem;
}

/* Banner title */
.banner h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1.75fr 1.75fr 1.75fr;
  justify-items: start;
  font-size: clamp(2.5rem, 10vw, 5rem);
}

/* Banner title image */
.banner h1 img {
  width: 20vw;
}

/* Banner grid columns */
.banner h1 :nth-child(1) {
  grid-column: 1 / 2;
}

.banner h1 :nth-child(2) {
  grid-column: 2 / 3;
  position: relative;
}

.banner h1 :nth-child(3) {
  grid-column: 3 / 5;
}

/* Line under word */
.banner h1 :nth-child(3):after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--accent-bg);
  width: 0;
  animation: lineWidth 1.5s forwards;
}

/* Animate the line from left to right */
@keyframes lineWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.banner h1 :nth-child(4) {
  grid-column: 1 / 3;
}

.banner h1 :nth-child(5) {
  grid-column: 3 / 4;
  transform: scale(1.4);
  justify-self: flex-end;
}

.banner h1 :nth-child(6) {
  grid-column: 1 / 4;
  align-self: flex-start;
}

.banner h1 :nth-child(7) {
  width: 16vw;
  margin-left: -1rem;
  transform: translateY(-1rem);
}

.banner h1 > * {
  margin-right: 1rem;
}

/* Banner Link */
.banner a {
  font-weight: 500;
  margin-top: 1rem;
  color: #fff;
  position: relative;
}

.banner a::after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-bg);
  position: absolute;
  transition: all 0.3s;
}

.banner a:hover::after {
  width: 100%;
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/

.about-us {
  display: grid;
  background-color: var(--secondary-bg);
  position: relative;
  padding: 3rem 1.5rem;
}

/* About Us Text Wrapper */
.about-us-text-wrapper {
  position: relative;
  z-index: 2;
  padding: 2rem 1rem;
  background: var(--accent-bg);
  border-radius: 10px;
}

/* Mask shape */
.about-us-text-wrapper:before {
  content: "";
  position: absolute;
  background-color: var(--accent-bg);
  top: 0;
  left: -200px;
  transform: skewX(-10deg);
  border-radius: 8px;
  width: 100%;
  height: 60%;
  z-index: -1;
  margin-left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: none;
}

/* About Us Text Wrapper Logo */
.about-us-text-wrapper svg {
  position: relative;
  top: 0.5rem;
  left: 0.25rem;
  fill: #fff;
}

/* About Us Section Title */
.about-us h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: #262626;
}

.about-us h2:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 25px;
  background-color: #fff;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}

/* About Us Section Subtitle */
.about-us h3 {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
}

/* About Us Section Paragraph */
.about-us p {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  width: 60%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

/* About Us Btn Wrapper */
.about-us-btn-wrapper {
  margin-left: 0.6rem;
  margin-top: 1.5rem;
}

.about-us-btn-wrapper a {
  background-color: var(--main-bg);
  padding: 8px 21px;
  font-size: 0.9rem;
  border-radius: 3.75rem;
  margin-right: 0.25rem;
  transition: all 300ms;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.about-us-btn-wrapper a:hover {
  transform: translateY(-6px);
}

/* Dot behind image */
.about-us span {
  background-color: var(--main-bg);
  position: absolute;
  border-radius: 40px;
  width: 90px;
  height: 75px;
  right: 25px;
  z-index: 1;
  top: -25px;
  display: none;
}

/* About Us Team Image */
.about-us img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: 500ms;
  transform: translateY(0);
  transition-delay: 300ms;
  top: 2rem;
}

.about-us img.visible {
  opacity: 1;
  transform: translateY(-20px);
}

/*--------------------------------------------------------------
# Customers
--------------------------------------------------------------*/

.customers {
  background-color: var(--main-bg);
  display: grid;
  padding: 0;
  grid-gap: 1.875rem;
}

/* Customers Text Wrapper */
.customers-text-wrapper {
  padding: 2rem 1.5rem 0 1.5rem;
}

/* Customers Section Title */
.customers-text-wrapper h3 {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
}

.customers-text-wrapper h3:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 25px;
  background-color: #e6b515;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}

/* Customers Section Paragraph */
.customers-text-wrapper p {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 1rem;
}

/* Customers Section Cards*/
.customers-cards-wrapper {
  list-style: none;
  padding: 0rem 1.5rem;
}

.customers-cards-wrapper-sticky {
  position: sticky;
  top: 6rem;
}

/* Customers Section Card */
.customers-cards-wrapper-sticky li {
  background-color: var(--accent-bg);
  margin-bottom: 1rem;
  padding: 1.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  text-align: center;
  border-radius: 10px;
}

.customers-cards-wrapper-sticky li:nth-child(1) {
  transition: 400ms;
}

.customers-cards-wrapper-sticky li:nth-child(2) {
  transition: 400ms;
  transition-delay: 400ms;
}

.customers-cards-wrapper-sticky li:nth-child(3) {
  transition: 400ms;
  transition-delay: 400ms;
}

.customers-cards-wrapper-sticky li.visible {
  opacity: 1;
  transform: translateY(-20px);
}

.customers-cards-wrapper-sticky li p {
  color: #262626;
  margin: 0.5rem 4rem 1.25rem 4rem;
}

.customers-cards-wrapper-sticky li a {
  background-color: var(--main-bg);
  color: #fff;
  padding: 8px 21px;
  border-radius: 3.75rem;
  font-size: 0.9rem;
  transition: all 300ms;
  display: inline-block;
}

.customers-cards-wrapper-sticky li a:hover {
  transform: translateY(-6px);
}

.customers-cards-wrapper li:nth-child(1) img {
  width: 20%;
}

.customers-cards-wrapper li:nth-child(2) img {
  width: 25%;
}

.customers-cards-wrapper li:nth-child(3) img {
  width: 35%;
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/

.chippr_team {
  background-color: var(--main-bg);
  margin-top: 1rem;
}

/* Team Section Title */
.chippr_team h2 {
  font-size: 2rem;
  color: #f8f4f1;
}

/* Team Logo */
.chippr_team svg {
  fill: #f8f4f1;
  margin-top: -3.3em;
  margin-left: 7.5em;
}
/* Svg hover */
.chippr_team svg:hover {
  fill: #e6b515;
  transition: ease-out 0.2s;
  border-bottom-style: solid;
  color: var(--accent-bg);
}

.chippr_team h2:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 25px;
  background-color: #e6b515;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
/* Team container */
.team_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -3em;
  margin-top: 3em;
  gap: 4em;
  border-radius: 3.4px;
}
/* Team img */
.team_container img {
  position: relative;
  width: 20em;
  height: 15em;
  border-radius: 3.4px;
  margin-top: -1.5em;
  margin-left: 3em;
}
/* Team p */
.team_container p {
  color: #f8f4f1;
  margin-left: 6em;
  margin-top: -2em;
}

.name_kevin p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15em;
  margin-left: 6em;
  z-index: 99;
  font-weight: bolder;
  background-color: var(--accent-bg);
  color: var(--main-bg);
  opacity: 0.9;
  width: 20em;
  height: 3em;
}
/* Team info */
.kevin_info span {
  display: flex;
  margin-left: 5.5em;
  margin-top: -12em;
  color: white;
  font-weight: bolder;
}

.hans_info span {
  display: flex;
  margin-left: 5.5em;
  margin-top: -12em;
  color: white;
  font-weight: bolder;
}

.lisa_info span {
  display: flex;
  margin-left: 5.5em;
  margin-top: -12em;
  color: white;
  font-weight: bolder;
}

.eva_info span {
  display: flex;
  margin-left: 5.5em;
  margin-top: -12em;
  color: white;
  font-weight: bolder;
}

.name_hans p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15em;
  margin-left: 6em;
  z-index: 99;
  width: 20em;
  height: 3em;
  font-weight: bolder;
  background-color: var(--accent-bg);
  color: var(--main-bg);
  opacity: 0.9;
  border-radius: 3.4px;
}

.name_lisa p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15em;
  margin-left: 6em;
  z-index: 99;
  font-weight: bolder;
  background-color: var(--accent-bg);
  color: var(--main-bg);
  opacity: 0.9;
  width: 20em;
  height: 3em;
  border-radius: 3.4px;
}

.name_eva p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15em;
  margin-left: 6em;
  z-index: 99;
  font-weight: bolder;
  background-color: var(--accent-bg);
  color: var(--main-bg);
  opacity: 0.9;
  width: 20em;
  height: 3em;
  border-radius: 3.4px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  position: relative;
  margin-top: 1rem;
  background-color: var(--secondary-bg);
}

.services h3 {
  font-size: 1.55rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.services h3:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 25px;
  background-color: #e6b515;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
/* Diensten Svg logo */
.logo_s {
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-left: 5em;
}
/* Diensten cards */
.box {
  max-width: 70em;
  height: auto;
  margin-left: 3em;
  color: #000000;
  font-family: "Roboto", sans-serif;

  margin-top: -11em;
}

.box .all-box {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  margin-left: -5em;
}
/*  Grey box section */
.box .box_left {
  width: 48em;
  background: grey;
  height: 15em;
  background: #262626;
  border-radius: 10px;
  margin-right: -21em;
  padding-left: -10em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Orange box section */

.box .all-box .box_rigth {
  width: 36em;
  background: var(--accent-bg);
  border-radius: 5px;
  min-height: auto;
  margin-left: 1.7em;
  padding: 12px;
  letter-spacing: 0.1em;
  line-height: 22px;
  padding-bottom: 20px;
  height: 18em;
  margin-top: 8em;
}

.box .all-box .box_rigth h4 {
  margin: 12px;
  margin-top: 0.5em;
  font-size: 24px;
}

.box .all-box .box_rigth p {
  font-weight: 300;
  margin-top: 2.5em;
  padding: 1px;
  margin: 12px;
}

.box .all-box .box_rigth a {
  margin: 12px;
  margin-bottom: 30px;
  text-decoration: none;
  background: rgb(0, 0, 0);
  padding: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
  border-radius: 5px;
}

.box .all-box .box_rigth a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* Footer section */

.footer ul li {
  list-style: none;
}

.footer a {
  color: #262626;
}

.footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  gap: 1.8em;
  background-color: #262626;
}

/* social media icons*/
.icon {
  margin-top: 1em;
  background-color: #f7c117;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;

  justify-content: center;
  align-items: center;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}
/* Chippr icon / socials media hover effect */
.icon:hover {
  transform: translateY(-10px);
  color: white;
}

.logo_c {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

.logo_c:hover {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/*--------------------------------------------------------------
# Media Query's
--------------------------------------------------------------*/

@media (min-width: 30rem) {
  /* General Section */
  section {
    padding: 3rem 4rem;
  }

  .banner h1 :nth-child(7) {
    transform: translateY(-2rem);
    margin-left: -2rem;
  }

  .box {
    width: 30em;
    margin-left: -2em;
  }

  .box .all-box .box_rigth {
    margin-left: -1em;
    width: 20em;
    height: 16em;
  }

  .box .all-box .box_left {
    width: 25em;
    margin-right: -21.5em;
  }

  .box :nth-child(2) {
    margin-top: -1em;
  }

  .box :nth-child(3) {
    margin-top: -1em;
  }
}

@media (min-width: 40rem) {
  .about-us span {
    display: block;
  }

  /* About Us Section */
  .about-us {
    grid-template-columns: 1fr 1fr;
  }

  .about-us-text-wrapper {
    margin-right: 1rem;
  }

  /* Customers Section */
  .customers {
    grid-template-columns: 1.5fr 1fr;
    background: none;
  }

  .customers-text-wrapper {
    background-color: var(--main-bg);
    padding: 3rem 4rem;
  }

  .customers-cards-wrapper {
    margin-top: 2rem;
  }

  .customers-cards-wrapper-sticky li {
    margin-right: 1.875rem;
  }

  /* Diensten Section */

  .box {
    margin-left: 4em;
  }
}

@media (min-width: 62.5rem) {
  /*.customers-cards-wrapper {*/
  /*    grid-template-columns: repeat(3, 1fr);*/
  /*}*/
  /*.customer-card:nth-child(2) {*/
  /*    margin-top: 5rem;*/
  /*}*/
  section {
    height: 110vh;
  }

  /* About Us Section */
  .about-us {
    padding-top: 5.5rem;
  }

  .about-us-text-wrapper {
    top: 2.5rem;
    background: none;
  }

  .about-us-text-wrapper:before {
    display: block;
    left: -85px;
    height: 65%;
  }

  /* Services Section */
  .services-cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .services-cards-wrapper li:nth-child(2) {
    top: 3.25rem;
  }

  /* Diensten Section */

  .box {
    margin-left: -1em;
    margin-top: -13em;
  }

  .box :nth-child(3) {
    margin-right: -60em;
    margin-top: -47em;
  }

  .box_rigth :nth-child(3) {
    height: 10em;
  }

  .logo_s {
    margin-top: 8em;
  }

  /* Team Section */

  .team_container {
    display: flex;
    gap: 6em;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    overflow: scroll;
  }

  .team_container img {
    margin-top: -15em;
  }
}

@media (min-width: 75rem) {
  /* Banner Content */
  .banner-content {
    margin: 8rem 0 0 9rem;
  }

  /* Banner Image */
  .banner h1 img {
    width: 8rem;
  }

  .banner h1 :nth-child(2) {
    width: 11rem;
  }

  .banner h1 :nth-child(5) {
    transform: scale(1.4);
  }

  .banner h1 :nth-child(7) {
    width: 7.5rem;
    margin-left: -2rem;
    transform: translateY(-2rem);
  }

  /* About Us Section */
  .about-us img {
    width: 90%;
  }

  .about-us-text-wrapper {
    padding: 3rem 4rem;
  }

  .about-us-text-wrapper:before {
    left: -200px;
    margin-left: 2rem;
  }

  /* Diesten Section */
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    margin-left: 5em;
  }

  .box .all-box .box_rigth {
    width: 23em;
    height: 15em;
    margin-left: 4em;
    margin-bottom: 7em;
  }

  .box .all-box .box_left {
    height: 19em;
    width: 30em;
  }

  .box :nth-child(2) {
    margin-top: -30.3em;
    margin-left: 90em;
  }

  .box :nth-child(3) {
    margin-top: -10em;
    margin-left: -20em;
  }
}
